<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bekraftelsesida.css">
    <title>Document</title>
</head>

<body>
        <div class ="container">
                <header class ="bs"> 
                    <h1> Bekräftelse </h1>
                    <h3> ------ Det Finns Alltid Nåt för Alla! ------</h3> 
                    <button class = "tillbaka"></button>
                </header>
            
                <div class = "frukost"></div>
                <div class = "dubbelrum"></div>
                <div class = "sparum"></div>
                <div class = "Aktiviteter">
                    <select class = "aktdpd">
                        <option>Göteborg</option>
                        <option>Helsingfors</option>
                        <option>Tallin</option>
                        <option>Helvetet</option>
                    </select>
                </div> 
                
                <footer>
                    <div class="omoss">
                        <h2> Om oss </h2>
                    </div>
                    <div class="kontaktaoss">
                        <h2> Kontakta oss </h2>
                    </div>
                </footer>
                </div>
    
</body>
</html>